In [7]:
from collections import defaultdict
from itertools import product
from random import seed

import seaborn as sns
import numpy as np
from tqdm import tqdm

from strategies.cheapest_insertion import CheapestInsertion
from api.instance import Instance
from strategies.local_search import LocalSearch
from utils.utils import draw_solution
import pandas as pd

sns.set()
df = pd.DataFrame(columns=['version', 'neigbourhood','instance', 'cost', 'time'])
for version, neighbourhood in tqdm(product(['greedy', 'steepest'], ['vertex', 'edge'])):
    for instance_name in ['kroA100', 'kroB100']:
        instance = Instance(name=instance_name)
        solve_strategy: LocalSearch = LocalSearch(
            instance=instance,
            version=version,
            neighbourhood=neighbourhood,
        )
        solve_strategy.run(run_times=100)
        for s, cost, time in solve_strategy.solutions:
            df = df.append(pd.DataFrame([[version, neighbourhood,instance_name, cost, time]],columns=['version', 'neigbourhood','instance', 'cost', 'time']))

df.head()

4it [02:38, 39.54s/it]

  version neigbourhood instance   cost      time
0  greedy       vertex  kroA100  14347  0.345681
0  greedy       vertex  kroA100  16867  0.321775
0  greedy       vertex  kroA100  17227  0.246968
0  greedy       vertex  kroA100  16001  0.219554
0  greedy       vertex  kroA100  15893  0.331152

In [8]:
df['cost'] = df['cost'].astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 0 to 0
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   version       800 non-null    object
 1   neigbourhood  800 non-null    object
 2   instance      800 non-null    object
 3   cost          800 non-null    float64
 4   time          800 non-null    float64
dtypes: float64(2), object(3)
memory usage: 37.5+ KB

In [18]:
df_cost = df.groupby(['instance', 'version']).agg({'cost' : ['min','mean', 'max']}).astype(int)
df_cost

                    cost
                     min   mean    max
instance version
kroA100  greedy    11068  15463  25174
         steepest  10840  15976  24849
kroB100  greedy    11300  15347  22307
         steepest  11391  15752  26158

In [38]:
df_cost = df.groupby(['instance','version','neigbourhood']).agg({'cost' : ['min','mean', 'max']}).astype(int)
df_cost

                                 cost
                                  min   mean    max
instance version  neigbourhood
kroA100  greedy   edge          11068  13016  15771
                  vertex        13656  17909  25174
         steepest edge          10840  13035  15618
                  vertex        14993  18917  24849
kroB100  greedy   edge          11300  12876  15181
                  vertex        13468  17819  22307
         steepest edge          11391  12835  15426
                  vertex        14489  18669  26158

In [39]:
df_time = df.groupby(['instance','version','neigbourhood']).agg({'time' : ['min','mean', 'max']}).round(3)
df_time

                                 time
                                  min   mean    max
instance version  neigbourhood
kroA100  greedy   edge          0.088  0.173  0.291
                  vertex        0.059  0.220  0.391
         steepest edge          0.106  0.152  0.192
                  vertex        0.150  0.238  0.329
kroB100  greedy   edge          0.050  0.156  0.278
                  vertex        0.076  0.224  0.533
         steepest edge          0.129  0.171  0.312
                  vertex        0.122  0.233  0.334

In [42]:
print(df_cost.to_latex())

\begin{tabular}{lllrrr}
\toprule
        &          &        & \multicolumn{3}{l}{cost} \\
        &          &        &    min &   mean &    max \\
instance & version & neigbourhood &        &        &        \\
\midrule
kroA100 & greedy & edge &  11068 &  13016 &  15771 \\
        &          & vertex &  13656 &  17909 &  25174 \\
        & steepest & edge &  10840 &  13035 &  15618 \\
        &          & vertex &  14993 &  18917 &  24849 \\
kroB100 & greedy & edge &  11300 &  12876 &  15181 \\
        &          & vertex &  13468 &  17819 &  22307 \\
        & steepest & edge &  11391 &  12835 &  15426 \\
        &          & vertex &  14489 &  18669 &  26158 \\
\bottomrule
\end{tabular}

In [ ]:
print(df_time.to_latex())

\begin{tabular}{lllrrr}
\toprule
        &          &        & \multicolumn{3}{l}{time} \\
        &          &        &    min &   mean &    max \\
instance & version & neigbourhood &        &        &        \\
\midrule
kroA100 & greedy & edge &  0.088 &  0.173 &  0.291 \\
        &          & vertex &  0.059 &  0.220 &  0.391 \\
        & steepest & edge &  0.106 &  0.152 &  0.192 \\
        &          & vertex &  0.150 &  0.238 &  0.329 \\
kroB100 & greedy & edge &  0.050 &  0.156 &  0.278 \\
        &          & vertex &  0.076 &  0.224 &  0.533 \\
        & steepest & edge &  0.129 &  0.171 &  0.312 \\
        &          & vertex &  0.122 &  0.233 &  0.334 \\
\bottomrule
\end{tabular}